openapi: 3.1.1

info:
  title: Points API
  version: 1.0.0
  summary: Points API
  description: |
    Points API for Loyalty Engine.

    Provides functionality for:
      - Granting points to customers
      - Retrieving customer points with pagination
      - Creating and managing point templates (reusable point configurations with default values)
      - Creating redemption rules (configuration rules specifying the value of a single point used to calculate redemptions)
      - Processing customer redemptions
      - Tracking point transactions

    Source code: https://github.com/loyaltyengine/points-service
  contact:
    name: Loyalty Engine
    url: https://www.loyaltyengine.org
    email: hello@loyaltyengine.org
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.loyaltyengine.org
    description: Live server

tags:
  - name: Points & Point Templates
    description: Manage points
  - name: Redemptions & Redemption Rules
    description: Manage redemptions
  - name: Transactions
    description: Manage Transactions

paths:
  /points-api/v1/properties/{propertyId}/customers/{customerId}/points:
    post:
      summary: Grant points to a customer
      description: |
        Grant points to a customer for a specific property. Points can be granted directly by providing `numberOfPoints`, or by using a point template via `pointTemplateId`.
        If a 'pointTemplateId' is provided, its default values will be used, but they can be overridden by explicitly providing `numberOfPoints`, `validFrom`, or `expireAt` in the request.
      operationId: grantPoints
      security:
        - bearerAuth: []
        - apiKey: []
      tags:
        - Points & Point Templates
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
          description: Property ID
        - name: customerId
          in: path
          required: true
          schema:
            type: string
          description: Customer ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePointRequest'
      responses:
        '200':
          $ref: '#/components/responses/PointSuccess'
        '400':
          $ref: './shared/responses/BadRequest.yaml'
        '401':
          $ref: './shared/responses/Unauthorized.yaml'
        '429':
          $ref: "#/components/responses/RateLimitError"
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      summary: List customer points
      description: |
        Retrieve all points for a specific customer and property
      operationId: getCustomerPoints
      security:
        - bearerAuth: []
        - apiKey: []
      tags:
        - Points & Point Templates
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
          description: Property ID
        - name: customerId
          in: path
          required: true
          schema:
            type: string
          description: Customer ID
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Page number
        - name: size
          in: query
          required: false
          schema:
            type: integer
            default: 100
          description: Page size
        - name: sort
          in: query
          required: false
          schema:
            type: string
            default: createdAt
          description: Sort field
        - name: order
          in: query
          required: false
          schema:
            type: string
            default: asc
          description: Sort order (asc or desc)
      responses:
        '200':
          description: Points retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PointsResponse'

  /points-api/v1/properties/{propertyId}/point-templates:
    post:
      summary: Create a point template
      description: |
        Create a new point template for a property
      operationId: createPointTemplate
      security:
        - bearerAuth: []
        - apiKey: []
      tags:
        - Points & Point Templates
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
          description: Property ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePointTemplateRequest'
      responses:
        '201':
          $ref: '#/components/responses/PointTemplateSuccess'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: './shared/responses/Unauthorized.yaml'
        '500':
          $ref: './shared/responses/InternalServerError.yaml'

  /points-api/v1/properties/{propertyId}/redemption-rules:
    post:
      summary: Create a redemption rule
      description: |
        Create a new redemption rule for a property.
        A redemption rule is a configuration rule specifying the value of a single point used to calculate redemptions.
        For example, 50 points for a 10% 'PERCENTAGE' coupon type.
      operationId: createRedemptionRule
      security:
        - bearerAuth: []
        - apiKey: []
      tags:
        - Redemptions & Redemption Rules
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
          description: Property ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRedemptionRuleRequest'
      responses:
        '201':
          $ref: '#/components/responses/RedemptionRuleSucess'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
           $ref: '#/components/responses/AuthenticationError' # By the auth service
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: "#/components/responses/RateLimitError"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /points-api/v1/properties/{propertyId}/customers/{customerId}/redemptions:
    post:
      summary: Redeem points for a customer
      description: |
        Points redemption for a customer. Coupons granted via Point API do not support cart eligibility and a default usage limit of `1`.
      operationId: createRedemption
      security:
        - bearerAuth: []
        - apiKey: []
      tags:
        - Redemptions & Redemption Rules
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
          description: Property ID
        - name: customerId
          in: path
          required: true
          schema:
            type: string
          description: Customer ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRedemptionRequest'
      responses:
        '200':
          $ref: '#/components/responses/RedemptionSucess'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
           $ref: '#/components/responses/AuthenticationError' # By the auth service
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: "#/components/responses/RateLimitError"
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key authentication
  responses:
    PointSuccess:
      description: Point success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PointResponse'
    
    PointTemplateSuccess:
      description: Point templates success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PointTemplateResponse'

    RedemptionRuleSucess:
      description: Redemption rule success
      content: 
        application/json:
          schema:
            $ref: '#/components/schemas/RedemptionRuleResponse'
  
    RedemptionSucess:
      description: Redemption success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RedemptionResponse'

    # Error responses
    BadRequestError:
      description: Bad request error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DetailsErrorResponse"

    NotFoundError:
      description: Not found error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    ConflictError:
      description: Conflict error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    AuthenticationError:
      description: Authentication error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    RateLimitError:
      description: Too many requests error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

    ForbiddenError:
      description: Forbidden error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    CreatePointRequest:
      type: object
      properties:
        pointTemplateId:
          $ref: '#/components/schemas/PointTemplateId'
        numberOfPoints:
          $ref: '#/components/schemas/NumberOfPoints'
        validFrom:
          $ref: '#/components/schemas/ValidFrom'
        expireAt:
          $ref: '#/components/schemas/ExpireAt'
        description:
          $ref: '#/components/schemas/PointDescription'


    PointResponse:
      allOf:
        - $ref: './shared/schemas/Response.yaml'
        - type: object
          properties:
            point:
              $ref: '#/components/schemas/Point'

    PointsResponse:
      allOf:
        - $ref: './shared/schemas/Response.yaml'
        - type: object
          properties:
            page:
              $ref: '#/components/schemas/Page'
            points:
              type: array
              items:
                $ref: '#/components/schemas/Point'
    Point:
      type: object
      description: |
        Points
      required:
        - pointId
        - customerId
        - propertyId
        - numberOfPoints
        - remainingPoints
        - createdAt
        - status
        - updatedAt
        - validFrom
        - expireAt
      properties:
        pointId:
          $ref: '#/components/schemas/PointId'
        customerId:
          $ref: './shared/schemas/CustomerId.yaml'
        propertyId:
          $ref: './shared/schemas/PropertyId.yaml'
        pointTemplateId:
          $ref: '#/components/schemas/PointTemplateId'
        numberOfPoints:
          $ref: '#/components/schemas/NumberOfPoints'
        remainingPoints:
          $ref: '#/components/schemas/NumberOfPoints'
        validFrom:
          $ref: '#/components/schemas/ValidFrom'
        expireAt:
          $ref: '#/components/schemas/ExpireAt'
        description:
          $ref: '#/components/schemas/PointDescription'
        createdAt:
          type: string
          format: date-time
          example: "2026-06-05T12:00:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2026-06-05T15:45:00Z"
        status:
          type: string
          enum: [PENDING, ACTIVE, CANCELLED]
          default: ACTIVE
          example: "ACTIVE"

    PointTransaction:
      type: object
      description: An entry tracking points movement.
      properties:
        transactionId:
          type: string
          format: uuid
          example: "5a3d8d0b-9f0b-4f6b-9c20-5a7d8c0b5c8d"
        propertyId:
          $ref: './shared/schemas/PropertyId.yaml'
        customerId:
          $ref: './shared/schemas/CustomerId.yaml'
        type:
          type: string
          enum: [CREDIT, DEBIT]
          description: CREDIT increments points, DEBIT decrements points.
        amount:
          $ref: '#/components/schemas/NumberOfPoints'
        reason:
          type: string
          enum: [GRANT, REDEMPTION, EXPIRATION, CANCELLED, OTHER]
        pointId:
          $ref: '#/components/schemas/PointId'
        createdAt:
          type: string
          format: date-time

    # PointType
    PointTemplate:
      type: object
      description: |
        Point type
      required:
        - pointTemplateId
        - propertyId
        - name
        - updatedAt
        - createdAt
      properties:
        pointTemplateId:
          $ref: '#/components/schemas/PointTemplateId'
        propertyId:
          $ref: './shared/schemas/PropertyId.yaml'
        name:
          type: string
          example: "Signup points"
        validNumberOfDays:
          type: integer
          example: 30
          minimum: 1
          description: Optional default number of days the points remain valid after being granted
        description:
          type: string
          example: "Grant points on signup"
        numberOfPoints:
          $ref: '#/components/schemas/NumberOfPoints'
        createdAt:
          type: string
          format: date-time
          example: "2026-06-05T12:00:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2026-06-05T15:45:00Z"

    CreatePointTemplateRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Unique name or identifier for the template.
          example: "Signup points"
        description:
          type: string
          example: "Grant points on customer registration"
        validNumberOfDays:
          type: integer
          example: 30
          minimum: 1
          description: Optional default number of days the points remain valid after being granted (can be overridden by explicit validFrom/expireAt in Grant points request).
        numberOfPoints:
          $ref: '#/components/schemas/NumberOfPoints'
          description: Optional default number of points to grant (can be overridden by explicit numberOfPoints in Grant points request).

    PointTemplateResponse:
      allOf:
        - $ref: './shared/schemas/Response.yaml'
        - type: object
          properties:
            pointType:
              $ref: '#/components/schemas/PointTemplate'

    # Redemption
    Redemption:
      type: object
      description: A redemption
      properties:
        redemptionId:
          type: string
          example: "red_33a11b"
        redemptionRuleId:
          $ref: '#/components/schemas/RedemptionRuleId'
        propertyId:
          $ref: './shared/schemas/PropertyId.yaml'
        customerId:
          $ref: './shared/schemas/CustomerId.yaml'
        redemptionType:
          $ref: '#/components/schemas/RedemptionType'
        couponCode:
          type: string
          description: Coupon code of the coupon granted for 'COUPON' redemption type.
          example: "SWPETNLPIDBNWFXY"
        totalDebitedPoints:
          type: integer
          example: 5
          description: Total number of points debited.
        calculatedValue:
          type: number
          example: 10
          description: Calculated value of the redemption. For example, 10% of 'PERCENTAGE' of totalDebitedPoints
        numberOfPoints:
          type: integer
          minimum: 0
          example: 10
          description: Number of individual points points to redeem. This value may be different from the requested value based on the maximum redemable points.
        totalRemainingPoints:
          type: integer
          minimum: 0
          example: 5
          description: Remaining number of points after the redemption.
        createdAt:
          type: string
          format: date-time
          example: "2026-06-05T12:00:00Z"

    RedemptionResponse:
      allOf:
        - $ref: './shared/schemas/Response.yaml'
        - type: object
          properties:
            redemption:
              $ref: '#/components/schemas/Redemption'

    CreateRedemptionRequest:
      type: object
      description: A redemption request
      required:
        - redemptionRuleId
        - numberOfPoints
      properties:
        redemptionRuleId:
          $ref: '#/components/schemas/RedemptionRuleId'
        numberOfPoints:
          type: integer
          minimum: 0
          example: 10
          description: Number of points to redeem.

    # Redemption rules
    RedemptionRule:
      type: object
      description: Configuration rule specifying the value of a single point used to calculate redemptions.
      required:
        - redemptionRuleId
        - propertyId
        - redemptionType
        - valuePerSinglePoint
        - couponType
      properties:
        redemptionRuleId:
          $ref: '#/components/schemas/RedemptionRuleId'
        propertyId:
          $ref: './shared/schemas/PropertyId.yaml'
        redemptionType:
          $ref: '#/components/schemas/RedemptionType'
        couponType:
          type: string
          description: The type of the coupon for a 'COUPON' redemption type.
          enum: [percentage, fixed_amount]
        valuePerSinglePoint:
          type: number
          format: double
          minimum: 0
          description: >
            The weight of 1 single point.
            If couponType is 'fixed_amount', this is the fiat monetary value (e.g., 0.10 means 1 point = $0.10).
            If couponType is 'percentage', this is the percentage value (e.g., 0.10 means 1 point = 0.10% off the total basket).
          example: 0.10
        amountCurrency:
          $ref: '#/components/schemas/Currency'
          description: Required if couponType is 'fixed_amount'.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    RedemptionRuleResponse:
          allOf:
            - $ref: './shared/schemas/Response.yaml'
            - type: object
              properties:
                redemptionRule:
                  $ref: '#/components/schemas/RedemptionRule'

    CreateRedemptionRuleRequest:
      type: object
      properties:
        redemptionType:
          $ref: '#/components/schemas/RedemptionType'
        couponType:
          type: string
          enum: [percentage, fixed_amount]
          example: percentage
        couponValidNumberOfDays:
          type: integer
          description: Number of day the coupon remains valid after being granted.
          example: 30
        valuePerSinglePoint:
          type: number
          minimum: 0
          example: 10
        amountCurrency:
          $ref: '#/components/schemas/Currency'

    NumberOfPoints:
      type: integer
      minimum: 0
      example: 10
      description: Number of individual points points granted or spent.

    Currency:
      type: string
      description: |
        Coupon currency. ISO 4217 currency code.
      example: USD

    RedemptionType:
      description: Change points for a specific redemption type
      type: string
      enum: [COUPON, CASHBACK]
      example: "COUPON"

    RedemptionRuleId:
      type: string
      format: uuid
      description: Unique identifier of the redemption rule.
      example: "5a3d8d0b-9f0b-4f6b-9c20-5a7d8c0b5c8d"

    PointDescription:
      type: string
      example: "Point description"

    PointTemplateId:
      type: string
      format: uuid
      description: Unique identifier of the point template.
      example: "5a3d8d0b-9f0b-4f6b-9c20-5a7d8c0b5c8d"

    PointId:
      type: string
      format: uuid
      description: Unique identifier of the point.
      example: "5a3d8d0b-9f0b-4f6b-9c20-5a7d8c0b5c8d"

    ExpireAt:
      type: string
      format: date-time
      example: 2026-09-30T15:30:00Z

    ValidFrom:
      type: string
      format: date-time
      example: 2026-06-05T12:50:00Z

    ErrorType:
        type: string
        enum:
          - invalid_request
          - insufficient_points
          - unauthorized
          - forbidden
          - not_found
          - validation_error
          - internal_server_error
          - conflict_error

    ErrorResponse:
      description: A standard error response
      allOf:
        - $ref: './shared/schemas/Response.yaml'
        - type: object
          properties:
            error:
              $ref: '#/components/schemas/ErrorType'
              description: The error type
            description:
              type: string
              description: A human-readable description of the error
            details:
              type: array
              items:
                $ref: '#/components/schemas/ErrorDetail'
          required:
            - error
    DetailsErrorResponse:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - type: object
          properties:
            details:
              type: array
              description: List of error details.
              items:
                $ref: "#/components/schemas/ErrorDetail"

    ErrorDetail:
      type: object
      properties:
        field:
          type: string
          description: The field related to the error
        issue:
          type: string
          description: A description of the issue with the field
      required:
        - field
        - issue
    Page:
      type: object
      properties:
        page:
          type: integer
          example: 1
        size:
          type: integer
          example: 20
        totalElements:
          type: integer
          example: 150
        totalPages:
          type: integer
          example: 150
        sort:
          type: string
          example: 'createdAt'
        order:
          type: string
          example: 'asc'
